{
	"printWidth": 100,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"bracketSpacing": false,
	"bracketSameLine": true,
	"tabWidth": 4,
	"useTabs": true,
	"endOfLine": "crlf",
	"arrowParens": "avoid"
}
