@mixin adaptive-font($min-font, $max-font, $max-width, $min-width) {
	$different-fonts: $max-font - $min-font;
	$different-width: $max-width - $min-width;
	$coefficient-px: $different-fonts / $different-width;
	$coefficient: $min-font - $coefficient-px * $min-width;

	font-size: #{$min-font + px}; //размер шрифта на $min-width и ниже разрешении экрана

	@media (min-width: #{$min-width + px}) {
		font-size: calc(#{$coefficient-px} * 100vw + #{$coefficient + px});
	}

	@media (min-width: #{$max-width + px}) {
		font-size: #{$max-font + px}; //размер шрифта на $max-width и выше разрешении экрана
	}
}

:root {
	--color: #1da1f2;
	--white: #fff;
	--light-shadow: rgba(32, 46, 66, 0.08);
	--text: rgb(51, 51, 51);
	--blue: rgb(129, 202, 218);
	--clr-transp-10: color-mix(in srgb, var(--blue), transparent 90%);
	--clr-lighter: color-mix(in srgb, var(--blue), white 50%);
	--popup-background: rgba(0, 0, 0, 20%);
}

$one: 900;
$three: 700;
$four: 400;

@font-face {
	font-family: 'Juana';
	font-display: fallback;
	src: url('/src/fonts/Juana_ExtraLight.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

svg {
	max-height: inherit;
}

body {
	font-family: 'Juana', 'Arial', sans-serif;
	scroll-behavior: smooth;
}

.wrapper {
}

.sky {
	position: relative;
	width: 100%;
	height: 100%;
	height: 400px;
}

.clouds {
	position: absolute;
	z-index: -1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 100%;
}

.container {
	max-width: 1050px;
	padding: 0 40px;
	margin: 0 auto;

	@media (max-width: $one + 'px') {
		padding: 0 20px;
	}
}
// ==== header
.header-small {
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	grid-gap: 20px;
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.29);
	transition:
		opacity 0.3s,
		transform 0.3s ease;
}
.header-small__photo {
	position: relative;
	width: 45px;
	aspect-ratio: 1 / 1;
	background-color: var(--white);
	border: 2px solid var(--white);
	border-radius: 2px;
}
.header-small__frame {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.header-small__person {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}
.header-small__text {
	@include adaptive-font(21, 35, 1200, 320);
	text-align: center;
}

.header {
	position: sticky;
	top: 10px;
	display: flex;
	justify-content: center;
	grid-gap: 100px;
	margin-top: -50px;
	transition:
		opacity 0.3s,
		transform 0.3s ease;

	@media (max-width: $one + 'px') {
		flex-direction: column;
		align-items: center;
		grid-gap: 30px;
	}
}
.header__photo {
	position: relative;
	aspect-ratio: 1 / 1;
	height: 300px;
	box-shadow: 0rem 0.875rem 1.5rem 0rem var(--light-shadow);
}
.header__photo_frame {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white);
	border: 5px solid var(--white);
	border-radius: 5px;
}
.header__photo_person {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}
.header-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.header-info__title {
	font-size: 50px;
	margin-bottom: 18px;
	text-align: center;
}
.header-info__dates {
	display: flex;
	align-items: center;
	grid-gap: 10px;
	margin-bottom: 10px;
}
.header-info__icon {
	max-width: 20px;
	max-height: 20px;
	stroke: var(--blue);
	fill: none;
	width: 20px;
	height: 20px;
}
.header-info__text {
	font-size: 20px;
	color: color-mix(in srgb, var(--text), transparent 30%);
}
.header-info__between {
}
.header-info__location {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}
// ==== header ====
// ==== menu ====
.menu {
	position: sticky;
	z-index: 1;
	top: 85px;
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
.menu__list {
	display: inline-flex;
	justify-content: center;
	grid-gap: 10px;
	box-shadow: 3px 3px 5px var(--light-shadow);
	border-radius: 3px;
	background: var(--white);
	padding: 0 10px;
}
.menu__item {
	display: flex;
	align-items: center;
	grid-gap: 10px;
	padding: 1em 1em;
	color: var(--text);

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			.menu__text {
				transform: translateX(5px);
				color: var(--blue);
			}
		}
	}

	@media (max-width: $four + 'px') {
		padding: 0.7em 0.1em;
	}
}
.menu__icon {
	max-width: 18px;
	max-height: 18px;
	stroke: var(--blue);
	fill: none;
}
.menu__text {
	font-size: 18px;
	white-space: nowrap;
	transition:
		color 0.3s,
		transform 0.3s;

	@media (max-width: $four + 'px') {
		font-size: 12px;
	}
}
// ==== menu ====
// ==== intro ====
.intro {
	display: flex;
	justify-content: center;
	grid-gap: 1em;
}
.intro__icon {
	width: 40px;
	max-height: 30px;
	fill: var(--blue);
}
.intro__text {
	font-size: 1.6em;
	line-height: 1.5;
	max-width: 700px;
}
// ==== intro ====
// ==== obituary ====
.obituary {
}
.obituary__title {
}
.section {
	padding-top: 140px;
}
.section__title {
	position: relative;
	font-size: 28px;
	margin-bottom: 60px;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 0;
		bottom: -15px;
		width: 50px;
		height: 3px;
		background-color: var(--blue);
	}
}
.obituary__text {
	line-height: 1.8;
	font-size: 1.1rem;

	&::first-letter {
		float: left;
		font-size: 3.5em;
		line-height: 1em;
		padding: 0 10px;
	}
}
// ==== obituary ====
// ==== favourites ====
.favorites {
}
.favorites__title {
}
.favorites-list {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
	grid-gap: 50px 30px;
}
.favorites-list__item {
}
.favorites-list__title {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 10px;
	color: var(--blue);
}
.favorites-list_icon {
	max-width: 17px;
	max-height: 17px;
	stroke: var(--blue);
	fill: none;

	&.fill {
		stroke: none;
		fill: var(--blue);
	}
}
.favorites-list__text {
	line-height: 1.5;
}
// ==== favourites ====
// ==== gallery ====
.gallery {
}
.section {
}
.gallery__title {
}
.section__title {
}
.gallery__filter {
	display: flex;
	grid-gap: 20px;
}
.gallery__filter_button {
	display: flex;
	align-items: center;
	grid-gap: 5px;
	padding: 0.5em 1.2em;
	cursor: pointer;
	border-radius: 4px;
	white-space: nowrap;
	box-shadow: 3px 3px 5px var(--light-shadow);
	transition:
		transform 0.3s,
		outline 0.3s,
		background-color 0.3s ease;
	outline: 1px solid transparent;

	&.active {
		outline: 1px solid var(--clr-lighter);
		background-color: var(--clr-transp-10);
	}

	@media (hover: hover) {
		&:hover {
			transform: translateY(-5px);
		}
	}
}
.gallery__filter_icon {
	max-width: 16px;
	max-height: 16px;
	stroke: var(--blue);
	fill: none;
}

.masonry {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 20px;
	margin-top: 30px;

	@media (max-width: $one + 'px') {
		justify-content: center;
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: $four + 'px') {
		grid-template-columns: repeat(1, 1fr);
	}
}
.masonry__column {
	display: flex;
	flex-direction: column;
	grid-gap: 20px;
}
.masonry__item {
	flex: 0 1 23%;
	overflow: hidden;
	border-radius: 4px;
	cursor: pointer;

	@media (max-width: $three + 'px') {
		flex: 0 1 46%;
	}

	@media (max-width: $four + 'px') {
		flex: 0 1 100%;
	}
}
.masonry__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
// ==== gallery ====
// ==== memory ====
.posts {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
}
.post {
	padding: 20px 25px;
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}
.post__date {
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 20px;
}
.post__text {
	line-height: 1.5;
}
.post__author {
	color: var(--blue);
	font-size: 1.3em;
	line-height: 1.5;
	margin: 20px 50px 10px 0;
	text-align: right;
}
.post__images {
	display: flex;
	grid-gap: 15px;
	flex-wrap: wrap;
}
.post__image {
	max-width: 100px;
	max-height: 100px;
	border-radius: 5px;
}
// ==== memory ====
// ==== footer ====
.footer {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 20px;
	color: var(--text);
	border-top: 1px solid var(--light-shadow);
}
// ==== footer ====
// ==== popup ====
.popup {
	position: fixed;
	z-index: 2;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--popup-background);
	backdrop-filter: blur(2px);
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.3s ease;

	&.active {
		opacity: 1;
		pointer-events: all;
	}
}
.popup__container {
}
.slider {
}
.slider__item,
.tns-item {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.splide__cube {
	position: absolute;
	z-index: -1;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 90vw;
	max-height: 90vh;
	background-color: var(--white);
	border-radius: 5px;
	opacity: 0;
	transition: opacity 0.3s ease;
}
.splide__cover {
	position: absolute;
	z-index: 1;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 85vw;
	max-height: 90vh;
	border-radius: 5px;
	cursor: grab;
}
.slide__arrow_btn {
	position: absolute;
	z-index: 2;
	z-index: 1;
	display: block;
	top: 50%;
	opacity: 0;
	width: 3em;
	height: 3em;
	border-radius: 4px;
	background-color: transparent;
	transition:
		opacity 0.3s,
		background-color 0.3s ease;

	&.prev {
		right: calc(100% - 70px);
	}

	&.next {
		left: calc(100% - 70px);
	}

	@media (hover: hover) {
		&:hover {
			background-color: var(--white);

			.splide__icon {
				fill: var(--text);
			}
		}
	}
}
.splide__icon {
	width: 20px;
	height: 20px;
	stroke: none;
	fill: var(--white);
	transition: fill 0.3s ease;
}
.splide__close {
	position: absolute;
	z-index: 1;
	display: block;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	overflow: hidden;
	opacity: 0;
	background-color: var(--white);
}
.splide__icon_close {
	fill: none;
	stroke: var(--blue);
	width: 24px;
	height: 24px;
}
.tns-slide-active {
}

.slider__img {
	max-width: 85vw;
	max-height: 90vh;
	width: 100%;
	height: 100%;
	object-fit: contain;
	padding: 10px;
	border-radius: 3px;
}
// ==== popup ====
