:root {
  --color: #1DA1F2;
  --white: #fff;
  --light-shadow: rgba(32,46,66,0.08);
  --text: rgb(51, 51, 51);
  --blue: rgb(129, 202, 218);
}

@font-face {
	font-family: 'Juana';
	font-display: fallback;
	src: url('/fonts/Juana.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

svg {
	max-height: inherit;
}

body {
}

.wrapper {
}

.sky {
	position: relative;
	width: 100%;
	height: 100%;
	height: 400px;
}

.clouds {
	position: absolute;
	z-index: -1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	max-width: 100%;
}

.container {
	max-width: 1050px;
	margin: 0 auto;
}
// ==== header
.header-small {
	position: fixed;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	grid-gap: 20px;
	backdrop-filter: blur(5px);
	background-color: rgba(255, 255, 255, 0.29);
	transition: opacity 0.3s, transform 0.3s ease;
}
.header-small__photo {
	position: relative;
	width: 45px;
	aspect-ratio: 1 / 1;
	background-color: var(--white);
	border: 2px solid var(--white);
	border-radius: 2px;
}
.header-small__frame {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.header-small__person {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}
.header-small__text {
	font-size: 35px;
}


.header {
	position: sticky;
	top: 10px;
	display: flex;
	justify-content: center;
	grid-gap: 100px;
	margin-top: -50px;
	transition: opacity 0.3s, transform 0.3s ease;
}
.header__photo {
	position: relative;
	aspect-ratio: 1 / 1;
	height: 300px;
	box-shadow: 0rem 0.875rem 1.5rem 0rem var(--light-shadow);
}
.header__photo_frame {
	position: absolute;
	z-index: 1;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--white);
	border: 5px solid var(--white);
	border-radius: 5px;
}
.header__photo_person {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}
.header-info {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.header-info__title {
	font-size: 50px;
	margin-bottom: 18px;
}
.header-info__dates {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}
.header-info__icon {
	max-width: 20px;
	max-height: 20px;
	fill: var(--blue);
}
.header-info__text {
	font-size: 20px;
	color: color-mix(in srgb, var(--text), transparent 30%);
}
.header-info__between {
}
.header-info__location {
	display: flex;
	align-items: center;
	grid-gap: 10px;
}
// ==== header ====
// ==== menu ====
.menu {
	position: sticky;
	z-index: 1;
	top: 85px;
	display: flex;
	justify-content: center;
	margin-top: 150px;
}
.menu__list {
	display: inline-flex;
	justify-content: center;
	grid-gap: 10px;
	box-shadow: 3px 3px 5px var(--light-shadow);
	border-radius: 3px;
	background: var(--white);
}
.menu__item {
	display: flex;
	align-items: center;
	grid-gap: 10px;
	padding: 1em 2em;

	@media (hover: hover) {
		&:hover {
			cursor: pointer;
			.menu__text {
				transform: translateX(5px);
				color: var(--blue);
			}
		}
	}
}
.menu__icon {
	max-width: 18px;
	max-height: 18px;
	fill: var(--blue);
}
.menu__text {
	font-size: 18px;
	white-space: nowrap;
	transition: color 0.3s, transform 0.3s;
}
// ==== menu ====
// ==== intro ====
.intro {
	display: flex;
	justify-content: center;
	grid-gap: 1em;
}
.intro__icon {
	width: 40px;
	max-height: 30px;
	fill: var(--blue);
}
.intro__text {
	font-size: 1.6em;
	line-height: 1.5;
	max-width: 700px;
}
// ==== intro ====
// ==== obituary ====
.obituary {
}
.obituary__title {}
.section {
	margin-top: 110px;
}
.section__title {
	position: relative;
	font-size: 28px;
	margin-bottom: 60px;

	&:before {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		left: 0;
		bottom: -15px;
		width: 50px;
		height: 3px;
		background-color: var(--blue);
	}
}
.obituary__text {
	line-height: 1.8;
	font-size: 1.1rem;

	&::first-letter {
		float: left;
		font-size: 3.5em;
		line-height: 1em;
		padding: 0 10px;
	}
}
// ==== obituary ====
// ==== favourites ====
.favorites {
}
.favorites__title {
}
.favorites-list {
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(310px, 1fr));
	grid-gap: 50px 30px;
}
.favorites-list__item {
}
.favorites-list__title {
	display: flex;
	grid-gap: 10px;
	margin-bottom: 10px;
	color: var(--blue);
}
.favorites-list_icon {
	max-width: 17px;
	max-height: 17px;
	fill: var(--blue);
}
.favorites-list__text {
	line-height: 1.5;
}
// ==== favourites ====
// ==== gallery ====
.gallery {
}
.section {
}
.gallery__title {
}
.section__title {
}
.gallery__filter {
	display: flex;
	grid-gap: 20px;
}
.gallery__filter_button {
	display: flex;
	align-items: center;
	grid-gap: 5px;
	padding: 0.5em 1.2em;
	cursor: pointer;
	border-radius: 4px;
	white-space: nowrap;
	box-shadow: 3px 3px 5px var(--light-shadow);

	@media (hover: hover) {
		transition: transform 0.3s ease;

		&:hover {
			transform: translateY(-5px);
		}
	}
}
.gallery__filter_icon {
	max-width: 16px;
	max-height: 16px;
	fill: var(--blue);
}
// ==== gallery ====
// ==== memory ====
.posts {
	display: flex;
	flex-direction: column;
	grid-gap: 40px;
}
.post {
	padding: 20px 25px;
	box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}
.post__date {
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 20px;
}
.post__text {
	line-height: 1.5;
}
.post__author {
	color: var(--blue);
	font-size: 1.3em;
	line-height: 1.5;
	margin: 20px 50px 0 0;
	text-align: right;
}
.post__images {
	display: flex;
	grid-gap: 15px;
	flex-wrap: wrap;
}
.post__image {
	max-width: 100px;
	max-height: 100px;
	border-radius: 5px;
}
// ==== memory ====
// ==== footer ====
.footer {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	padding: 20px;
	color: var(--text);
	border-top: 1px solid var(--light-shadow);
}
// ==== footer ====
